body {
    padding: 0px;
    margin: 0px;
}
.rosterOuter {
    display: flex;
    flex-direction: column;
}

.rosterBanner {
    background: blue;
}

.rosterPlayerCard {
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
}

.rosterPlayerCard div {
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: center;
    background: lightcoral;
}

.rosterPlayerCard div img {
    margin-top: 10px;
    width: 250px;
}