@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

:root {
    --darkest: #1d1d1d;
    --darkGrey: #3d3d3d;
    --white: #fff;
    --lightGrey: #d3d3d3;
    --red: #c32227;

    --regular: 400;
    --thicc: 700;
    --thin: 300;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#accessibilityA {
    display: none;
}

body {
    background-color: var(--darkGrey);
}


/* NAVBAR */
header {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    place-content: center;
    align-items: center;
    background-color: var(--darkGrey);
    color: var(--white);
    font-weight: var(--thicc);
    height: 60px;
}

nav > ul {
    width: max-content;
    height: 3rem;
    /* background-color: orange; */
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

nav > ul > li {
    width: max-content;
    /* background-color: red; */
    height: 3rem;
    padding: 0 1rem;
    border-radius: 1rem;
    transition: 0.5s ease-in-out;
}

nav > ul > li:hover {
    outline: 0.1rem solid var(--darkest);
    transition: 0.5s ease-in-out;
}

.navItem {
    text-decoration: none;
    line-height: 3rem;
    font-size: var(--nav-font-size);
    color: var(--light);
}


/* HOME */


/* ROSTER */
.rosterOuter {
    display: flex;
    flex-direction: column;
}

.rosterBanner {
    background: blue;
}

.rosterPlayerCard {
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
}

.rosterPlayerCard div {
    width: 300px;
    height: 300px;
    align-items: center;
    text-align: center;
    background: lightcoral;
}

.rosterPlayerCard div img {
    margin-top: 10px;
    width: 250px;
}
